.container{
    width: 300px;
    height: 300px;
    background-color: red;
    margin: auto;
    display: flex;
    align-items: center;
}


.login_container{
    margin-left: 20px;
    width: 100%;
  
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 250px;

}

button{
    height: 30px;
    width: 258px;
}

.error{
    width: 300px;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}